.maincontent {
  color: green;
  margin-bottom: 5px;
  font-size: 23px;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.contentDetails {
  color: black;
  font-size: 15px;
  margin: 10px 0;
  display: block;
  text-decoration: none;
}
.skillsStyle {
  background-color: green;
  padding: 5px;
  border-radius: 10px;
  color: white;
  display: inline-block;
  margin: 10px 10px 10px 0;
}
.myBtn {
  background-color: green;
  padding: 5px;
  border-radius: 10px;
  color: white;
  border: 0;
}
button:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}
